{% extends 'public_template.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/css/story.css">
<section id="Story">
    <div class="col text-center">
        <h1 class="mainh1">Fabric Care</h1>
        <p class="text-white para2">“Care for your clothes like the good friends they are” - Joan Crawford</p>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <p class="para3">   
                  <h2 class="para3 fabric-heading">Silk Care</h2>               
                  (With time and patience, the mulberry leaf becomes a silk saree)
                  <ul class="fabric-care-context">
                    <li><h3 class="para3 text-center">Dry - Cleaning</h3>
                      <ul class="list-points">
                        <li>Dry-cleaning is the best way to clean silk in case of regular maintenance or stains</li>
                        <li>Do not dry clean very often; do it when absolutely required</li>
                      </ul>
                    </li>

                    <li><h3 class="para3 text-center">Washing - Hand wash</h3>
                      <ul class="list-points">                        
                        <li>Do not wash the silks often esp sarees</li>
                        <li>Dry cleaning is preferred, however in case of at-home washing, do not machine wash, always hand wash </li>
                        <li>Do not wash in hot water, always use cold water </li>
                        <li>Do not use soap for the first 2-3 washes. Gently rinse in plain cold water, for subsequent washes, use a mild detergent</li>
                        <li>Do not soak in the detergent or bundle and keep wet for long durations</li>
                        <li>Do not wash with other garments, always wash separately</li>
                        <li>Wash the pallu, border and body separately in case of a saree</li>
                        <li>Do not brush; Gentle wash in hands</li>
                        <li>Do not twisting or wringing the silk</li>
                      </ul>
                    </li>

                    <li><h3 class="para3 text-center">Drying</h3>
                      <ul class="list-points">
                        <li>Dry-cleaning is the best way to clean silk in case of regular maintenance or stains</li>
                        <li>Dry it immediately after washing</li>
                        <li>Do not squeeze to get rid of water, roll in a dry towel to remove excess moisture.</li>
                        <li>Then, hang it on to a padded hanger; metal hangers are a NO-NO</li>
                        <li>Ensure that the silk saree / garment is out of direct sunlight</li>
                        <li>Do not leave them outside after drying for long</li>
                      </ul>
                    </li>

                    <li><h3 class="para3 text-center">Ironing</h3>
                      <ul class="list-points">
                        <li>While pressing, keep the iron in medium heat only (select silk range)</li>
                        <li>Press silk while it is a little damp or use a steam iron</li>
                        <li>Take special care to iron the starched material and the Zari </li>
                        <li>Start with wrong side (inside out) and at the ends to check the heat </li>
                        <li>Usage of a press-cloth is always good; Cloth should be lint free and white in colour</li>
                      </ul>
                    </li>

                    <li><h3 class="para3 text-center">Storage</h3>
                      <ul class="list-points">
                        <li>Air dry after the use (if not washing) before storing</li>
                        <li>Store in a cool and dry place</li>
                        <li>Change the folds preferably once in 3-4 months ; left longer, at folds, the fabric may fray</li>
                        <li>Warp in muslin cloth or paper or store in muslin cloth bags</li>
                        <li>Storing individually is preferred than keeping along with others, it avoids frictions</li>
                        <li>Hanging position on a padded hanger is good too, metal hangers are a NO-NO</li>         
                      </ul>
                    </li>

                    <li><h3 class="para3 text-center">In case of stains</h3>
                      <ul class="list-points">
                        <li>Wash the stained area with cold water immediately as a first aid </li>
                        <li>Give for dry cleaning as early as possible (always preferred)</li>
                        <li>In case of at-home treatment, can brush petrol with a soft cloth, for soft stains</li>
                        <li>Use acetone (nail polish remover) for nail polish and other coloured stains</li>
                        <li>Use powder for greasy stains immediately, later wash in luke-warm water</li>
                      </ul>
                    </li>

                  </ul>
                   
                </p>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $('.header .navbar-nav .nav-item .nav-link').removeClass('active')
    $('#our_story_menu').addClass('active')
</script>
{% endblock %}