{% extends 'public_template.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/css/faqs.css">
<section id="Faqs">
    <div class="col text-center">
        <h1 class="mainh1">FAQs</h1>
        <p class="text-white para2">Your questions and our simple answers</p>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  How do you collect my garment?<span class="acc-icon">&#x2b</span>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body" style="text-align: justify;">

                  <strong>You find us on digital platforms or hear about FCOM from your friends and you will call us on    
                    9108902222 or contact us on <a href="https://fcomindia.com/">www.fcomindia.com.</a>
                  </strong>

                  <br>
                  <br>

                  <strong>We can collect your garments in three modes as given below. However, our vision is to provide doorstep services.
                  </strong>

                  <br>
                  <br>

                  <strong>
                    (a)	Home Visit : On FCOM website, you will either Request Call Back or book an order by clicking on Book Now. You pick items for your cart and while checking out, under Service Mode, you choose Home Visit. Our representative will contact you to schedule a slot. On the scheduled date, our team visits you, takes measurements, suggests on designs and solutions, raises the order and picks the fabric for stitching or garments for alterations.
                  </strong>

                  <br>
                  <br>

                  <strong>
                    (b)	Store Visit : On FCOM website, you will either Request Call Back or book an order by clicking on Book Now. You pick items for your cart and while checking out, under Service Mode, you choose Store Visit. Our representative will contact you to guide you on how to reach our store which is at Indiranagar, Bangalore. You can find us on google maps. We are open from Monday – Saturday between 9:30am to 7pm. On your visit, our team, takes measurements, suggests on designs and solutions, raises the order and picks the fabric for stitching or garments for alterations.
                  </strong>

                  <br>
                  <br>

                  <strong>
                    (c)	Send thru other services : On FCOM website, you will either Request Call Back or book an order by clicking on Book Now. You pick items for your cart and while checking out, under Service Mode, you choose Send thru other services. Our representative will contact you to guide you on the address of our store which is at Indiranagar, Bangalore. You can find us on google maps. We are open from Monday – Saturday between 9:30am to 7pm. On receipt of your fabric or garments,  our team contacts you for measurements and other details, suggests on designs and solutions, raises the order.
                  </strong>

                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  How do I book on FCOM website ? <span class="acc-icon">&#x2b</span>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>It is the cart you are filling in. Under Services, you can use different filters to choose your item. The price and designs are indicative. Final pricing depends on the design chosen at the time of finalising the order with the designer.</strong>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Do you take measurements?  <span class="acc-icon">&#x2b</span>
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>Yes, We are open to
                    <li>Take measurements at the comfort of your doorsteps</li>
                    <li>Work based on your well fitted sample garments</li>
                    <li>Guide you on video calls to take your own measurements or</li>
                    <li>Work with pre-taken measurements</li>
                    </strong></p>
                </div>
              </div>
            </div>



            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Will I get any advice or consultation for my order? <span class="acc-icon">&#x2b</span>
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>
                    Yes, we assign a fashion designer dedicatedly for every order. She / he coordinates through the process of order taking and tracking, design and fitting suggestions, sourcing, payments, delivery and after delivery services if required. Based on the nature of the order, we charge between Rs. 50 – Rs. 150/- per order.
                    </strong></p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  How do I know the status of my order? <span class="acc-icon">&#x2b</span>
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>
                    At every stage of order of order placing, execution and despatch, you can track the status of your order. 
                    </strong></p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  What is the turnaround time ? <span class="acc-icon">&#x2b</span>
                </button>
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>
                    From the day of your approval of the order on FCOM website, we take 6-9 working days for normal orders, for express orders between 48 – 72hrs and for Wedding orders or bulk orders or No-Rush-Orders (discount applicable), we take up to 20 days. 
                    </strong></p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  Does express delivery apply for all services ? and how much is the extra charges? <span class="acc-icon">&#x2b</span>
                </button>
              </h2>
              <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>
                    Express delivery is applicable for alteration and normal stitching orders only. It does attract priority charges. For alteration orders – Rs. 99/- and for stitching orders – Rs. 149/- per garment.
                    </strong></p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                  What is No-Rush-Order? <span class="acc-icon">&#x2b</span>
                </button>
              </h2>
              <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>
                    In case you are not in a hurry (ex. Repurposing of your jeans), you can opt for this delivery as you can save up to 10%.
                    </strong></p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingNine">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                  Can you buy fabric or accessories for me? <span class="acc-icon">&#x2b</span>
                </button>
              </h2>
              <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>
                    Yes, We can source the fabric, accessories or embellishments from the local markets or from any store of your choice. In case you are sourcing online or from the market, we can assist  too. An advance amount of 50% of the purchase is to be paid.
                    </strong></p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                  Can I book for somebody else?  <span class="acc-icon">&#x2b</span>
                </button>
              </h2>
              <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>
                    Yes, You can book for your parents or loved ones; we do have designers who speak different languages and trained on customer care. It is like a normal order booking, while speaking to our representative, you can mention any instructions you have.
                    </strong></p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingEleven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                  Do I have to pay for doorstep services ? <span class="acc-icon">&#x2b</span>
                </button>
              </h2>
              <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>
                    Depending on the pin code you stay at, we charge pick & drop charges. Up to 3km radius it is Rs. 99/- beyond 3km, it is Rs.14 per km. And yes, this is for both picking and dropping!
                    </strong></p>
                </div>
              </div>
            </div>


            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwelve">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                  Is your item price inclusive of GST ? <span class="acc-icon">&#x2b</span>
                </button>
              </h2>
              <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>
                    No,  5% is charged as per the government regulations. 
                    </strong></p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThirteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                  Will I be surprised with any hidden charges?  <span class="acc-icon">&#x2b</span>
                </button>
              </h2>
              <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>
                    Absolutely NO. The bill is totally transparent and we take an approval from you before we start the work. 
                    </strong></p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFourteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                  Do you charge for lining and embellishments? <span class="acc-icon">&#x2b</span>
                </button>
              </h2>
              <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>
                    Normal cotton lining charges are included in the item price. For specific lining fabrics     like mulmul or satin or American crepe, accessories and embellishments we charge extra depending on your preference.
                    </strong></p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFifteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                  When do I pay ? Do I have to pay in advance? <span class="acc-icon">&#x2b</span>
                </button>
              </h2>
              <div id="collapseFifteen" class="accordion-collapse collapse" aria-labelledby="headingFifteen" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>
                    No. For orders with value up to Rs.5,000, only a cover charge of Rs 350/- to be paid      
                    at the time of booking the order. This is considered as an advance and deducted in the final bill. For orders with value more than Rs. 5,000/-, an advance up to 50% is applicable.                    
                    </strong></p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSixteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                  When and how do I pay for the order? <span class="acc-icon">&#x2b</span>
                </button>
              </h2>
              <div id="collapseSixteen" class="accordion-collapse collapse" aria-labelledby="headingSixteen" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>
                    At the time of delivery, you should have paid the complete payment for us to be able to  despatch. You can make payments on our website. You can pay using Debit card, Credit Card, Netbanking, UPI and wallets. 
                    </strong></p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSeventeen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                  Do you have min order value? <span class="acc-icon">&#x2b</span>
                </button>
              </h2>
              <div id="collapseSeventeen" class="accordion-collapse collapse" aria-labelledby="headingSeventeen" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>
                    No. We are happy to orders of any value. 
                    </strong></p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingEigtheen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEigtheen" aria-expanded="false" aria-controls="collapseEigtheen">
                  What if my garments have fitting issues after you deliver ?  <span class="acc-icon">&#x2b</span>
                </button>
              </h2>
              <div id="collapseEigtheen" class="accordion-collapse collapse" aria-labelledby="headingEigtheen" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>
                    You will not have fitting issues. However, if we have taken the measurements and there are fitting issues, we will alter at free of cost. Please check alteration clause in Terms and Conditions. If the final garment has gone on sample or measurements given by you, we would not take the responsibility of fitting.
                    </strong></p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingNinteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNinteen" aria-expanded="false" aria-controls="collapseNinteen">
                  Can I cancel the order? <span class="acc-icon">&#x2b</span>
                </button>
              </h2>
              <div id="collapseNinteen" class="accordion-collapse collapse" aria-labelledby="headingNinteen" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>
                    You can cancel only before the approval / order pick up. Please check order cancellation policy.
                    </strong></p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwenteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwenteen" aria-expanded="false" aria-controls="collapseTwenteen">
                  What are the services do you offer ? and for whom ? <span class="acc-icon">&#x2b</span>
                </button>
              </h2>
              <div id="collapseTwenteen" class="accordion-collapse collapse" aria-labelledby="headingTwenteen" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>
                    We offer clothes alterations, dyeing, darning, embroidery, restyling, repurposing and stitching services for the entire family – women, men, kids, pets and home.
                    </strong></p>
                </div>
              </div>
            </div>

           

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwenteeone">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwenteeone" aria-expanded="false" aria-controls="collapseTwenteeone">
                  Where are do you provide your services? <span class="acc-icon">&#x2b</span>
                </button>
              </h2>
              <div id="collapseTwenteeone" class="accordion-collapse collapse" aria-labelledby="headingTwenteeone" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>
                    We have our services in Bangalore currently. We serve up to 25km radius from central Bangalore.
                    </strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 offset-md-1">
          <div class="callback-action">
            <h3 class="h11">Don’t see the answer you need?</h3>
            <a href="#">That’s ok. Just call us at +91 9108902222 or </a>
            <button type="button" class="btn btn2" name="button">Request Callback</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}