{% extends 'public_template.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/css/story.css">

<section id="Story">
    <div class="col text-center">
        <h1 class="mainh1">Our Story</h1>
        <p class="text-white para2">How we converted age-old pain points of tailoring services in india into a hassle free experience!</p>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <p class="storyPara text-center">
                    A passionate journey of how we brought convenience to tailoring services in India!
                    <br /><br />
                    In this era of “at-home services” created for consumer convenience, India had food,
                    commute, salon, groceries, medicine and essentials coming home. We wondered why an
                    age-old essential service like tailoring did not come home?
                    <br /><br />
                    May it be custom stitching or alterations, we Indians visit a tailor who is sitting in the corner
                    of the road or in a designated area which is generally in a busy market, far from our homes.
                    Either we get stuck with a quality given by the tailor around the corner or waste time in
                    going to a tailor who is far and difficult to access.
                    <br /><br />
                    After extensively talking to users from various cross sections, it was very obvious that –
                    EVERY HOUSEHOLD NEEDS A PLATFORM FOR HIGH QUALITY TAILORING SERVICES AT THEIR
                    DOORSTEPS!
                    <br /><br />
                    Starting the journey with 8 customers in one community, now we are serving 58 locations in
                    Bangalore, serve 3 cities and cater to NRI communities in various countries. We have
                    successfully served about 5700 customers completing over 15,760 orders.
                    <br /><br />

                    When quality, convenience and reliability come together, service becomes complete and
                    meaningful. We at FCOM, a team of designers, tailors, embroiders, dyers, darners and
                    techies pledge to continue our journey to make our consumers happy!<br /><br />
                </p>
                <!-- <div class="hiring-action text-center">
                    <h3 class="h11">We’re hiring!</h3>
                    <p class="p8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    <button type="button" class="btn btn2" name="button">Open positions</button>
                </div> -->
            </div>
        </div>
    </div>
</section>

<!-- <section id="Snapshots">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="h2 mb-40">Snapshots</h2>
                <div class="text-center nav nav-tabs" id="nav-tab" role="tablist">

                    <a href="#" class="link nav-link active" id="blog" data-bs-toggle="tab" data-bs-target="#nav-blog"
                        role="tab" aria-controls="nav-blog" aria-selected="true">Blog</a>
                    <a href="#" class="link nav-link" id="csr" data-bs-toggle="tab" data-bs-target="#nav-csr" role="tab"
                        aria-controls="nav-csr" aria-selected="false">OSR</a>
                    <a href="#" class="link nav-link" id="instagram" data-bs-toggle="tab"
                        data-bs-target="#nav-instagram" role="tab" aria-controls="nav-instagram"
                        aria-selected="false">Instagram</a>
                    <a href="#" class="link nav-link" id="facebook" data-bs-toggle="tab" data-bs-target="#nav-facebook"
                        role="tab" aria-controls="nav-facebook" aria-selected="false">Facebook</a>
                    <a href="#" class="link nav-link" id="youtube" data-bs-toggle="tab" data-bs-target="#nav-youtube"
                        role="tab" aria-controls="nav-youtube" aria-selected="false">Youtube</a>
                </div>
            </div>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-blog" role="tabpanel" aria-labelledby="blog">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="snapshots">
                            <img src="static/img/snapshots.png" alt="Snapshots" />
                            <div class="bottom">
                                <h6 class="h61">Know where you get</h6>
                                <div class="">
                                    <small>04 Mar, 2022</small>
                                    <p class="p5">Wondering where you can get a stunning blouse stitching done at
                                        affordable prices? Look no further, FCOM is here to sort out all your blouse
                                        woes!</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="snapshots">
                            <img src="static/img/snapshots.png" alt="Snapshots" />
                            <div class="bottom">
                                <h6 class="h61">Know where you get</h6>
                                <div class="">
                                    <small>04 Mar, 2022</small>
                                    <p class="p5">Wondering where you can get a stunning blouse stitching done at
                                        affordable prices? Look no further, FCOM is here to sort out all your blouse
                                        woes!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="snapshots">
                            <img src="static/img/snapshots.png" alt="Snapshots" />
                            <div class="bottom">
                                <h6 class="h61">Know where you get</h6>
                                <div class="">
                                    <small>04 Mar, 2022</small>
                                    <p class="p5">Wondering where you can get a stunning blouse stitching done at
                                        affordable prices? Look no further, FCOM is here to sort out all your blouse
                                        woes!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-csr" role="tabpanel" aria-labelledby="csr">
                <div class="row">
                    <div class="col-lg-4 col-md-4 snapshots">
                        <div class="bottom">
                            <h6 class="h61">Know where you get</h6>
                            <div class="">
                                <small>04 Mar, 2022</small>
                                <p class="p5">Wondering where you can get a stunning blouse stitching done at affordable
                                    prices? Look no further, FCOM is here to sort out all your blouse woes!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 snapshots">
                        <div class="bottom">
                            <h6 class="h61">Know where you get</h6>
                            <div class="">
                                <small>04 Mar, 2022</small>
                                <p class="p5">Wondering where you can get a stunning blouse stitching done at affordable
                                    prices? Look no further, FCOM is here to sort out all your blouse woes!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 snapshots">
                        <div class="bottom">
                            <h6 class="h61">Know where you get</h6>

                            <div class="">
                                <small>04 Mar, 2022</small>
                                <p class="p5">Wondering where you can get a stunning blouse stitching done at affordable
                                    prices? Look no further, FCOM is here to sort out all your blouse woes!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-instagram" role="tabpanel" aria-labelledby="instagram">
                <div class="row">
                    <div class="col-lg-4 col-md-4 snapshots">
                        <div class="bottom">
                            <h6 class="h61">Know where you get</h6>
                            <div class="">
                                <small>04 Mar, 2022</small>
                                <p class="p5">Wondering where you can get a stunning blouse stitching done at affordable
                                    prices? Look no further, FCOM is here to sort out all your blouse woes!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 snapshots">
                        <div class="bottom">
                            <h6 class="h61">Know where you get</h6>
                            <div class="">
                                <small>04 Mar, 2022</small>
                                <p class="p5">Wondering where you can get a stunning blouse stitching done at affordable
                                    prices? Look no further, FCOM is here to sort out all your blouse woes!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 snapshots">
                        <div class="bottom">
                            <h6 class="h61">Know where you get</h6>

                            <div class="">
                                <small>04 Mar, 2022</small>
                                <p class="p5">Wondering where you can get a stunning blouse stitching done at affordable
                                    prices? Look no further, FCOM is here to sort out all your blouse woes!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-facebook" role="tabpanel" aria-labelledby="facebook">
                <div class="row">
                    <div class="col-lg-4 col-md-4 snapshots">
                        <div class="bottom">
                            <h6 class="h61">Know where you get</h6>
                            <div class="">
                                <small>04 Mar, 2022</small>
                                <p class="p5">Wondering where you can get a stunning blouse stitching done at affordable
                                    prices? Look no further, FCOM is here to sort out all your blouse woes!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 snapshots">
                        <div class="bottom">
                            <h6 class="h61">Know where you get</h6>
                            <div class="">
                                <small>04 Mar, 2022</small>
                                <p class="p5">Wondering where you can get a stunning blouse stitching done at affordable
                                    prices? Look no further, FCOM is here to sort out all your blouse woes!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 snapshots">
                        <div class="bottom">
                            <h6 class="h61">Know where you get</h6>

                            <div class="">
                                <small>04 Mar, 2022</small>
                                <p class="p5">Wondering where you can get a stunning blouse stitching done at affordable
                                    prices? Look no further, FCOM is here to sort out all your blouse woes!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-youtube" role="tabpanel" aria-labelledby="youtube">
                <div class="row">
                    <div class="col-lg-4 col-md-4 snapshots">
                        <div class="bottom">
                            <h6 class="h61">Know where you get</h6>
                            <div class="">
                                <small>04 Mar, 2022</small>
                                <p class="p5">Wondering where you can get a stunning blouse stitching done at affordable
                                    prices? Look no further, FCOM is here to sort out all your blouse woes!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 snapshots">
                        <div class="bottom">
                            <h6 class="h61">Know where you get</h6>
                            <div class="">
                                <small>04 Mar, 2022</small>
                                <p class="p5">Wondering where you can get a stunning blouse stitching done at affordable
                                    prices? Look no further, FCOM is here to sort out all your blouse woes!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 snapshots">
                        <div class="bottom">
                            <h6 class="h61">Know where you get</h6>

                            <div class="">
                                <small>04 Mar, 2022</small>
                                <p class="p5">Wondering where you can get a stunning blouse stitching done at affordable
                                    prices? Look no further, FCOM is here to sort out all your blouse woes!</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="view">
            <p class="view-more">View more</p>
        </div> -->
    </div>

</section> 

<section id="comments">
    <div class="container ">
        <div class="row ">
            <div class="col-md-12 col-lg-10 offset-lg-1">
                <div id="carouselExampleFade" class="carousel slide" data-bs-ride="carousel">
                    <div class="slider-btn">
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="prev">
                           </button>
                                <span id="slider_no"><em>1</em> / 10</span>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleFade" data-bs-slide="next">
                                </button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class=" col-lg-3 col-md-3 ">
                                    <div class="img2 d-flex ">
                                        <img class="colon " src="static/img/colon.png" alt="colon" />
                                        <img src="static/img/avatarWomen.png" alt="one" />
                                    </div>
                                </div>
                                <div class=" col-lg-8 col-md-8">
                                    <h6 class="cmh6">Rashmika Kuppanna

                                        <i class="bx bxs-star stars "></i>
                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                    </h6>
                                    <p class="p7">TI genuinely appreciate the beautiful work which was done on my saree and blouse. Simple and elegant, just how I like it . Hassle free work and good Pricing. But, Most importantly the work was done within the given time frame and packaged well. Thank you and I wish you keep up the good work and service throughout.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class=" col-lg-3 col-md-3 ">
                                    <div class="img2 d-flex ">
                                        <img class="colon " src="static/img/colon.png" alt="colon" />
                                        <img src="static/img/avatarWomen.png" alt="one" />
                                    </div>
                                </div>
                                <div class=" col-lg-8 col-md-8">
                                    <h6 class="cmh6">Neeta Singh 

                                        <i class="bx bxs-star stars "></i>
                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                    </h6>
                                    <p class="p7">Went to this place as I saw they had great reviews and someone had mentioned they were pleased with their jeans alteration. They did not disappoint!!
                                        Work was done quickly and to a high standard - would definitely recommend :)</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class=" col-lg-3 col-md-3 ">
                                    <div class="img2 d-flex ">
                                        <img class="colon " src="static/img/colon.png" alt="colon" />
                                        <img src="static/img/avatarMen.png" alt="one" />
                                    </div>
                                </div>
                                <div class=" col-lg-8 col-md-8">
                                    <h6 class="cmh6">Ganesan

                                        <i class="bx bxs-star stars "></i>
                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                    </h6>
                                    <p class="p7">My.grand daughter, who was visiting India from the US, was very happy with the Indian ethnic dress stitched in less than a week. Thanks Fcom!</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class=" col-lg-3 col-md-3 ">
                                    <div class="img2 d-flex ">
                                        <img class="colon " src="static/img/colon.png" alt="colon" />
                                        <img src="static/img/avatarWomen.png" alt="one" />
                                    </div>
                                </div>
                                <div class=" col-lg-8 col-md-8">
                                    <h6 class="cmh6">Aditi

                                        <i class="bx bxs-star stars "></i>
                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                    </h6>
                                    <p class="p7">Had an amazing experience with the designers and service here at FCOM. I came in last minute as another tailor messed up my clothes and I was to leave for an outstation wedding in 8 days! The designers here took out time and worked from scratch on the outfits. They even altered some of my clothes which others denied. The crazy part was I didn't even have time to try the clothes on after they were stitched but the fit was just amazing and it did not need any further alterations. They even followed up later to check if all was fine. It was an outstanding end-to-end experience that I would definitely recommend to everyone to try out! Looking forward to more such experiences and services from them. :)</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class=" col-lg-3 col-md-3 ">
                                    <div class="img2 d-flex ">
                                        <img class="colon " src="static/img/colon.png" alt="colon" />
                                        <img src="static/img/avatarMen.png" alt="one" />
                                    </div>
                                </div>
                                <div class=" col-lg-8 col-md-8">
                                    <h6 class="cmh6">Nithin Fernando

                                        <i class="bx bxs-star stars "></i>
                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                    </h6>
                                    <p class="p7">I was happy to know that they do alteration for Men’s wear as well when I came to know about them for the first time. The service is really good & they value their customers. The coordinators are very helpful & empathetic. At times delivery can take longer based on the availability of staffs.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class=" col-lg-3 col-md-3 ">
                                    <div class="img2 d-flex ">
                                        <img class="colon " src="static/img/colon.png" alt="colon" />
                                        <img src="static/img/avatarMen.png" alt="one" />
                                    </div>
                                </div>
                                <div class=" col-lg-8 col-md-8">
                                    <h6 class="cmh6">Chetan Rao

                                        <i class="bx bxs-star stars "></i>
                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                    </h6>
                                    <p class="p7">Awesome service and great designs. Will recommend it if you are looking for hassle free service and premium quality.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class=" col-lg-3 col-md-3 ">
                                    <div class="img2 d-flex ">
                                        <img class="colon " src="static/img/colon.png" alt="colon" />
                                        <img src="static/img/avatarMen.png" alt="one" />
                                    </div>
                                </div>
                                <div class=" col-lg-8 col-md-8">
                                    <h6 class="cmh6">Thimmaiah Mandanna

                                        <i class="bx bxs-star stars "></i>
                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                    </h6>
                                    <p class="p7">I got my denim jacket altered by the master in FCOM. He did an excellent job and absolutely happy the service managed by FCom team. Great work FCOM !!! Thank you.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class=" col-lg-3 col-md-3 ">
                                    <div class="img2 d-flex ">
                                        <img class="colon " src="static/img/colon.png" alt="colon" />
                                        <img src="static/img/avatarMen.png" alt="one" />
                                    </div>
                                </div>
                                <div class=" col-lg-8 col-md-8">
                                    <h6 class="cmh6">Joseph Mathew

                                        <i class="bx bxs-star stars "></i>
                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                    </h6>
                                    <p class="p7">Fcom's services for alteration of clothes is excellent. They take orders and deliver on the mark as per your specifications and on time.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class=" col-lg-3 col-md-3 ">
                                    <div class="img2 d-flex ">
                                        <img class="colon " src="static/img/colon.png" alt="colon" />
                                        <img src="static/img/avatarWomen.png" alt="one" />
                                    </div>
                                </div>
                                <div class=" col-lg-8 col-md-8">
                                    <h6 class="cmh6">Deepali Paul

                                        <i class="bx bxs-star stars "></i>
                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                    </h6>
                                    <p class="p7">Nice experience with FCOM...
                                        Good and efficient work.On time delivery and most importantly the fitting is just wow..
                                        Loved their work.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class=" col-lg-3 col-md-3 ">
                                    <div class="img2 d-flex ">
                                        <img class="colon " src="static/img/colon.png" alt="colon" />
                                        <img src="static/img/avatarWomen.png" alt="one" />
                                    </div>
                                </div>
                                <div class=" col-lg-8 col-md-8">
                                    <h6 class="cmh6">Kavana Menon

                                        <i class="bx bxs-star stars "></i>
                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                    </h6>
                                    <p class="p7">It was one of those rare experience with a tailor were I did not have to go back and forth
                                        the designer understood exactly what I wanted and delivered .</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>


<script type="text/javascript">
    $('.header .navbar-nav .nav-item .nav-link').removeClass('active')
    $('#our_story_menu').addClass('active')
</script>
{% endblock %}