{% extends 'public_template.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/css/policies.css">

<section id="MyAccount">
    <div class="col text-center">
        <h1 class="mainh1">Policies</h1>
        <p class="text-white para2">Complete customer satisfaction</p>
    </div>
  </section>

  <section class="workTabs">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link" href="{% url 'policy_cancelation_refund' %}">Cancellation & Refund</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link active" href="{% url 'terms_and_conditions' %}">Terms and Conditions</a>
            </li>
            <!-- <li class="nav-item" role="presentation">
              <a class="nav-link" >Privacy</a>
            </li> -->
            
          </ul>
        
          
        </div>
          <div class="col-md-9 " >
            <p class="policies">
              Terms and Conditions are applicable on all the platforms FcomIndia (company) operates. The usage of FcomIndia platform warrants customer acceptance of the latest terms and conditions.
                <br /><br />
                FcomIndia is an online – offline platform and most of its service specifications including handwork, seam specifications, measurements and product specifications including  colour/weight/grains of the fabric are approximate as the whole service proposition is custom made as per the customer’s preferences.
                <br /><br /> 
                Registration on the platform is required with minimum information to be able to access the services only. As a registered user, customers agree to provide correct, current and complete information as requested in the form. FcomIndia reserves the right to reject any registration for any valid reasons at any time without notice. 
                <br /><br /> 
                As a part of the service, doorstep pick and drops are extended to all pin codes that come under 25km of radius from central point of the city. It may change from time to time as per the policy decision of the company. This service is scheduled and confirmed based on the availability of the slots. In case of disruption of businesses due to strikes, bundhs or govt orders or extreme climatic conditions or force majeure, Fcom India will reschedule the visits or deliveries based on the existing condition with best intents. Any kind of loss faced by the customer is not the responsibility of Fcom India.
                <br /><br />
                Convenience, termed as doorstep pick / drop is charged based on the distance from the central point of the city. This is fixed as per the discretion of Fcom India. 
                <br /><br />
                Coordination charges which include platform fees and consultation time of the designer is charged. Consultation is charged based on the designs shared or solution offered.
                <br /><br />
                GST is applicable as per the government norms.
                <br /><br />
                Booking of the slot in case of doorstep services is confirmed once the part payment as advance or full payment is made. The order in all formats including store visit or home visit or send-your-fabric will be executed only after the customer gives approval on the website or sent as whatapp text / sms on the published number, <b>9108902222</b>. Any deviation to the order will be considered as a fresh order and the charges would be as per the rate card.
                <br /><br />
                The work including stitching, dyeing, darning, alterations or hand work can happen at any unit of Fcom India on the discretion of the team which is done on the best intent to offer the quality work and the skill match.
                <br /><br />
                The embroidery work, tassel work, fabric dyeing, sourcing (fabric or accessories) may vary upto 10% from the agreed specifications due to the nature of the customized / hand work.
                Also, there may be a variation from the design shared as a sketch or reference picture or illustration. This may be due to the specifications of the fabric or measurements which may result in the way the garment fits / falls/ flows. Customer would understand and accept this and gives approval for a go ahead.

                <br /><br />
                Pricing is published and is based on the present market conditions which may vary from time to time based on the changes in the market and this is at the discretion of Fcom India.
                <br /><br />
                The charges indicated at the time of booking is only an estimate. Once the Fcom India representative looks at the amount, complexity and creativity of work, it may vary slightly based on the additional services or fabric / accessory used at the time of work. Fcom India will start the work only after the customer approves.
                <br /><br />
                Standard turnaround time is between 6 -10 working days for normal orders. For orders which are complex, which have embroidery work or which needs sourcing, the turnaround time would be between 13-18 working days. In case of express deliveries, the turnaround time would be bet 48-72hrs depending on the complexities of the order. This attracts priority charges. In case of disruption of businesses due to strikes, bundhs or govt orders or extreme climatic conditions or force majeure, Fcom India will reschedule the visits or deliveries based on the existing condition with best intents. Any kind of loss faced by the customer is not the responsibility of Fcom India.
                <br /><br />
                Orders will be delivered after the complete payment. The garment will be safe with Fcom India upto a period of 30 days from the date of the order placement. Beyond which in case customer does not pick the order, Fcom India will not take the liability of the garments.
                <br /><br />
                Customers agree to the terms and conditions, refund and cancellation policies mentioned in the website or at the store at the time of placing the order. Fcom India reserves the right to change / update the applicable terms and conditions at any time without notifications.
                <br /><br />
               
                As the garments are altered or stitched or treated with customization and specifications including measurements, requested by the customer, refunds in any format either cash or online, will not be possible by FcomIndia.
                <br /><br />

            </p>
            <h5 class="title-policies">Alterations on the garments stitched by FcomIndia</h5>
            <ol  class="policies">
                <li>Incase of basic alterations on the garments stitched by FcomIndia including length, taking in or letting out are done at free of cost upto 15 days from the day of delivery. However, the information should be sent as text on <b>9108902222</b> within 48hrs.</li>
                <br>
                <li>Change of design or style or size (to another individual) is considered as fresh order and is charged as per the rate card.</li>
                <br>
                <li>Decision of company to consider the request as free alteration or paid restyling is final and is made as per specifications of the original order which is approved by the customer before stitching the garment.</li>
                <br>
                <li>Garments due for applicable alterations should be sent to Fcom India office at Indiranagar, Bangalore or customer could book another visit. Incase, the delivery person picks up for alteration at the time of delivery itself, garment would be delivered within 10 days of time after alterations, with applicable delivery charges.</li>
                <br>
                <li>FcomIndia will not take responsibility of the alterations done by other tailors on these garments and of any monetary losses faced by the customer.</li>
            </ol>
            <br>
            <P  class="policies">
              Customer will give consent to communicate with Fcom India electronically and give consent to receive communication electronically from Fcom India periodically during the life of the order. 
              <br /><br />
              Since the nature of the service is such it is customized, there is no return policy. However, Fcom India works on its best efforts to deliver the garments as per agreed specifications at the time of order placing. 
            </P>
            <h5 class="title-policies">Cancellation Policy:</h5>
            <p class="policies">
              Any booked visit can be cancelled only before a representative from FcomIndia is assigned. 
              Once the fabric / garment is collected and approval is given by the customer, order cannot be cancelled. If there are any changes in the order, it can go as a fresh order. 
                <br /><br />
                Incase of any damage or colour or print issues are found when the master is cutting / stitching, we will inform immediately. We recommend that the customer checks for these while placing the order.
            </p>
        <br>
        <h5 class="title-policies">Payments:</h5>
        <p class="policies">
          Fcom India offers multiple payment methods to make bookings and to pay for services. This includes credit / debit cards, Net banking, UPI and Wallets. 
        <br /><br />
        Fcom India uses trusted payment gateway partners and use best possible secure encryption technology to keep customer transaction details confidential at all times. We only have access to the interfaces shared by our payment gateway providers.All the payments are made in Indian Rupees acceptable in the Republic of India. 
        <br>
        Customers agree, understand and confirm that the credit / debit card / net banking / UPI details provided will be correct and accurate. In case of payment failures / hold ups, customers give relevant information helping us resolve issues. 
        <br /><br />
        The onus of using any instrument in making payments will be exclusively on customers.
        Payments for orders can be made through online portal or UPI modes or by cash only. However we encourage all payments to be made using digital mediums. In the case of cash payment, it is the responsibility of the customer to notify the company in time.

        <br /><br />
        Fcom India reserves the right to recover all charges including legal expenses from the parties using the Fcom India gateways fraudulently / mischievously. We reserve the right to initiate legal proceedings against such cases. 
        <br>
        We as a partner or merchant shall not be liable for any loss or damage arising directly or indirectly due to decline or authorization of any transaction. 
        </p>

        <br>
        <!-- <h5 class="title-policies">For any queries contact us on:</h5>
        <p class="policies">
            <b>Number :</b> 9108902222
            <br/>
            <b>Email :</b> customersupport@fcomindia.com
            <br>
            <b>Address :</b> No. 12, 2nd floor, 8th cross, Binnamangala, Indiranagar 1st stage, Bangalore – 560 038
        </p> -->
        </div> 

            <div class="col-md-9" id="test2" style="display: none;">
              <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"> 
              <div class="gallery-grid">
                  <img src="static/img/men3.jpg" alt="men1" data-slide="1" data-bs-toggle="modal" data-bs-target="#workImageSlider">
                  <img src="static/img/men5.jpg" alt="men5" data-slide="2" data-bs-toggle="modal" data-bs-target="#workImageSlider">
              </div>
              <div class="gallery-grid">
                <img src="static/img/men2.jpg" alt="men2" data-slide="3" data-bs-toggle="modal" data-bs-target="#workImageSlider">
                <img src="static/img/men1.jpg" alt="men3" data-slide="4" data-bs-toggle="modal" data-bs-target="#workImageSlider">
                <img src="static/img/men7.jpg" alt="men7" data-slide="5" data-bs-toggle="modal" data-bs-target="#workImageSlider">
              </div>
              <div class="gallery-grid">
                <img src="static/img/men4.jpg" alt="men4" data-slide="6" data-bs-toggle="modal" data-bs-target="#workImageSlider">
                <img src="static/img/men6.jpg" alt="men6" data-slide="7" data-bs-toggle="modal" data-bs-target="#workImageSlider">
              </div>
            </div></div></div>
       
            <div class="col-md-9" id="test3" style="display:none;">
              <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab" > 
              <div class="gallery-grid">
                <img src="static/img/kid2.jpg" alt="kid1" data-slide="1" data-bs-toggle="modal" data-bs-target="#workImageSlider">
                <img src="static/img/kid1.jpg" alt="kid5" data-slide="2" data-bs-toggle="modal" data-bs-target="#workImageSlider">
            </div>
            <div class="gallery-grid">
              <img src="static/img/kid5.jpg" alt="kid2" data-slide="3" data-bs-toggle="modal" data-bs-target="#workImageSlider">
              <img src="static/img/kid3.jpg" alt="kid3" data-slide="4" data-bs-toggle="modal" data-bs-target="#workImageSlider">
              <img src="static/img/kid6.jpg" alt="kid7" data-slide="5" data-bs-toggle="modal" data-bs-target="#workImageSlider">
            </div>
            <div class="gallery-grid">
              <img src="static/img/kid4.jpg" alt="kid4" data-slide="6" data-bs-toggle="modal" data-bs-target="#workImageSlider">
              <img src="static/img/kid7.jpg" alt="kid6" data-slide="7" data-bs-toggle="modal" data-bs-target="#workImageSlider">
            </div>
            </div></div></div>


            <div class="col-md-9" id="test4" style="display: none;">
              <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="decor" role="tabpanel" aria-labelledby="decor-tab"> 
              <div class="gallery-grid">
                <img src="static/img/decor4.jpg" alt="decor4" data-slide="1" data-bs-toggle="modal" data-bs-target="#workImageSlider">
                <img src="static/img/decor3.jpg" alt="decor5" data-slide="2" data-bs-toggle="modal" data-bs-target="#workImageSlider">
            </div>
            <div class="gallery-grid">
              <img src="static/img/decor5.jpg" alt="decor1" data-slide="" data-bs-toggle="modal" data-bs-target="#workImageSlider">
              <img src="static/img/decor2.jpeg" alt="decor3" data-slide="3" data-bs-toggle="modal" data-bs-target="#workImageSlider">
              <img src="static/img/decor6.jpeg" alt="decor6" data-slide="6" data-bs-toggle="modal" data-bs-target="#workImageSlider">
            </div>
            <div class="gallery-grid"> 
              <img src="static/img/decor7.jpg" alt="decor2" data-slide="2" data-bs-toggle="modal" data-bs-target="#workImageSlider">
              <img src="static/img/decor1.jpg" alt="decor7" data-slide="7" data-bs-toggle="modal" data-bs-target="#workImageSlider">
            </div>
            </div>
          </div>
        </div>
           
  </section>
  <script type="text/javascript">
    $('.header .navbar-nav .nav-item .nav-link').removeClass('active')
    $('#our_work_menu').addClass('active')
    
    $(function(){
    $("#home-tab").click(function(e) {
       $('#test1 ').show();
       $('#test2 ').hide();
       $('#test3 ').hide();
       $('#test4 ').hide();
    }); //  $('#id').hide();

      $("#profile-tab").click(function(e) {
      $('#test2').show();
       $('#test1 ').hide();
       $('#test3 ').hide();
       $('#test4 ').hide();
    });

    $("#contact-tab").click(function(e) {
       $('#test3').show();
       $('#test2 ').hide();
       $('#test1 ').hide();
       $('#test4 ').hide();
    });

    $("#decor-tab").click(function(e) {
       $('#test4').show();
       $('#test2 ').hide();
       $('#test3 ').hide();
       $('#test1 ').hide();
    });

  });

</script>
{% endblock %}
