<section id="comments">
    <div class="container ">
        <div class="row ">
            <div class="col-md-12 col-lg-10 offset-lg-1">
                <div id="carouselExampleFade" class="carousel" data-bs-ride="carousel">
                    <div class="slider-btn">
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="prev">
                            < </button>
                                <span id="slider_no">02 / 14</span>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleFade" data-bs-slide="next">
                                    >
                                </button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class=" col-lg-3 col-md-3 ">
                                    <div class="img2 d-flex ">
                                        <img class="colon " src="static/img/colon.png" alt="colon" />
                                        <img src="static/img/One.png" alt="one" />
                                    </div>
                                </div>
                                <div class=" col-lg-8 col-md-8">
                                    <h6 class="cmh6">john Doe

                                        <i class="bx bxs-star stars "></i>
                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                    </h6>
                                    <p class="p7">This was my first experience ordering a custom tailored suit. The
                                        staff was super helpful and professional and I got what I wanted for my upcoming
                                        wedding. I am really grateful to FCOM.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class=" col-lg-3 col-md-3 ">
                                    <div class="img2 d-flex ">
                                        <img class="colon " src="static/img/colon.png" alt="colon" />
                                        <img src="static/img/One.png" alt="one" />
                                    </div>
                                </div>
                                <div class=" col-lg-8 col-md-8">
                                    <h6 class="cmh6">john Doe

                                        <i class="bx bxs-star stars "></i>
                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                    </h6>
                                    <p class="p7">This was my first experience ordering a custom tailored suit. The
                                        staff was super helpful and professional and I got what I wanted for my upcoming
                                        wedding. I am really grateful to FCOM.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class=" col-lg-3 col-md-3 ">
                                    <div class="img2 d-flex ">
                                        <img class="colon " src="static/img/colon.png" alt="colon" />
                                        <img src="static/img/One.png" alt="one" />
                                    </div>
                                </div>
                                <div class=" col-lg-8 col-md-8">
                                    <h6 class="cmh6">john Doe

                                        <i class="bx bxs-star stars "></i>
                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                        <i class="bx bxs-star stars "></i>

                                    </h6>
                                    <p class="p7">This was my first experience ordering a custom tailored suit. The
                                        staff was super helpful and professional and I got what I wanted for my upcoming
                                        wedding. I am really grateful to FCOM.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>