<section id="howitworks" class="rel">
    <div class="dashed-border"></div>

    <div class="container">
        <div class="row ">
            <div class="col-12">
                <div class="text-center justify-content-center">
                    <h2 class="h2">How it Works </h2>
                    <h6 class="p2" >Get your tailoring services at the comfort of your homes</h6>
                </div>
            </div>
        </div>
        <div class="row steps-block">
            <div class="col-lg-3 col-md-3">
                <div class="icon-box rel">
                    <i class='bx bx-phone-call'></i>
                </div>
                <a href="#Book An Appointment" class="links12">
                    <h5 class="title-sm">Book An Appointment</h5>
                </a>
                <p class="para0 title-desc mb-0">Book online, call at <a href="tel:919108902222"> +91 9108902222</a> or
                    <div class="rel d-inline"><a href="javascript:void(0)" data-id="Request_callback2" class="tooltip-wrapper v1"> Request a call back</a>
                        <div class="tooltip-drpdown v1" id="Request_callback2">
                            <span class="close-icon">✕</span>
                            <p>Please submit the form below, our customer care will reach you on given number to get more details
                            </p>
                            <input type="number" class="form-control" name="mobile_no" id="mobile_no" value="" placeholder="Enter your mobile number">
                            <textarea name="note" maxlength="100" id="note" class="form-control" placeholder="Enter note"></textarea>
                            <button id="request_callback" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    
                    
                </p>
                    
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="icon-box rel">
                    <i class='custom-icon icon-file-blank'></i>
                </div>
                <a href="#Place An Order" class="links12">
                    <h5 class="title-sm">Confirm Order</h5>
                </a>
                <p class="para0">Our team will visit you for measurement and order discussion</p>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="icon-box rel">
                    <i class='bx bx-cart'></i>
                </div>
                <a href="#Track Your Orde" class="links12">
                    <h5 class="title-sm">Track Your Order</h5>
                </a>
                <p class="para0">You can track your orders online on FCOM website </p>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="icon-box rel">
                    <i class='custom-icon icon-package-img'></i>
                </div>
                <a href="#Delivery" class="links12">
                    <h5 class="title-sm">Delivery</h5>
                </a>
                <p class="para0"> Receive your order at your doorsteps on convenient date & time</p>

            </div>
        </div>
    </div>


</section>