.vscode/settings.json
.venv
__pycache__/
migrations/
.idea/.gitignore
.idea/FCOM.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
static/admin/css/autocomplete.css
static/admin/css/base.css
static/admin/css/changelists.css
static/admin/css/dashboard.css
static/admin/css/fonts.css
static/admin/css/forms.css
static/admin/css/login.css
static/admin/css/nav_sidebar.css
static/admin/css/responsive_rtl.css
static/admin/css/responsive.css
static/admin/css/rtl.css
static/admin/css/widgets.css
static/admin/css/vendor/select2/LICENSE-SELECT2.md
static/admin/css/vendor/select2/select2.css
static/admin/css/vendor/select2/select2.min.css
static/admin/dist/css/adminlte.css
static/admin/dist/css/adminlte.css.map
static/admin/dist/css/adminlte.min.css
static/admin/dist/css/adminlte.min.css.map
static/admin/dist/css/alt/adminlte.components.css
static/admin/dist/css/alt/adminlte.components.css.map
static/admin/dist/css/alt/adminlte.components.min.css
static/admin/dist/css/alt/adminlte.components.min.css.map
static/admin/dist/css/alt/adminlte.core.css
static/admin/dist/css/alt/adminlte.core.css.map
static/admin/dist/css/alt/adminlte.core.min.css
static/admin/dist/css/alt/adminlte.core.min.css.map
static/admin/dist/css/alt/adminlte.extra-components.css
static/admin/dist/css/alt/adminlte.extra-components.css.map
static/admin/dist/css/alt/adminlte.extra-components.min.css
static/admin/dist/css/alt/adminlte.extra-components.min.css.map
static/admin/dist/css/alt/adminlte.light.css
static/admin/dist/css/alt/adminlte.light.css.map
static/admin/dist/css/alt/adminlte.light.min.css
static/admin/dist/css/alt/adminlte.light.min.css.map
static/admin/dist/css/alt/adminlte.pages.css
static/admin/dist/css/alt/adminlte.pages.css.map
static/admin/dist/css/alt/adminlte.pages.min.css
static/admin/dist/css/alt/adminlte.pages.min.css.map
static/admin/dist/css/alt/adminlte.plugins.css
static/admin/dist/css/alt/adminlte.plugins.css.map
static/admin/dist/css/alt/adminlte.plugins.min.css
static/admin/dist/css/alt/adminlte.plugins.min.css.map
static/admin/dist/img/AdminLTELogo.png
static/admin/dist/img/avatar.png
static/admin/dist/img/avatar2.png
static/admin/dist/img/avatar3.png
static/admin/dist/img/avatar4.png
static/admin/dist/img/avatar5.png
static/admin/dist/img/boxed-bg.jpg
static/admin/dist/img/boxed-bg.png
static/admin/dist/img/default-150x150.png
static/admin/dist/img/icons.png
static/admin/dist/img/photo1.png
static/admin/dist/img/photo2.png
static/admin/dist/img/photo3.jpg
static/admin/dist/img/photo4.jpg
static/admin/dist/img/prod-1.jpg
static/admin/dist/img/prod-2.jpg
static/admin/dist/img/prod-3.jpg
static/admin/dist/img/prod-4.jpg
static/admin/dist/img/prod-5.jpg
static/admin/dist/img/user1-128x128.jpg
static/admin/dist/img/user2-160x160.jpg
static/admin/dist/img/user3-128x128.jpg
static/admin/dist/img/user4-128x128.jpg
static/admin/dist/img/user5-128x128.jpg
static/admin/dist/img/user6-128x128.jpg
static/admin/dist/img/user7-128x128.jpg
static/admin/dist/img/user8-128x128.jpg
static/admin/dist/img/credit/american-express.png
static/admin/dist/img/credit/cirrus.png
static/admin/dist/img/credit/mastercard.png
static/admin/dist/img/credit/paypal.png
static/admin/dist/img/credit/paypal2.png
static/admin/dist/img/credit/visa.png
static/admin/dist/js/adminlte.js
static/admin/dist/js/adminlte.js.map
static/admin/dist/js/adminlte.min.js
static/admin/dist/js/adminlte.min.js.map
static/admin/dist/js/demo.js
static/admin/dist/js/pages/dashboard.js
static/admin/dist/js/pages/dashboard2.js
static/admin/dist/js/pages/dashboard3.js
static/admin/fonts/LICENSE.txt
static/admin/fonts/README.txt
static/admin/fonts/Roboto-Bold-webfont.woff
static/admin/fonts/Roboto-Light-webfont.woff
static/admin/fonts/Roboto-Regular-webfont.woff
static/admin/img/calendar-icons.svg
static/admin/img/icon-addlink.svg
static/admin/img/icon-alert.svg
static/admin/img/icon-calendar.svg
static/admin/img/icon-changelink.svg
static/admin/img/icon-clock.svg
static/admin/img/icon-deletelink.svg
static/admin/img/icon-no.svg
static/admin/img/icon-unknown-alt.svg
static/admin/img/icon-unknown.svg
static/admin/img/icon-viewlink.svg
static/admin/img/icon-yes.svg
static/admin/img/inline-delete.svg
static/admin/img/LICENSE
static/admin/img/README.txt
static/admin/img/search.svg
static/admin/img/selector-icons.svg
static/admin/img/sorting-icons.svg
static/admin/img/tooltag-add.svg
static/admin/img/tooltag-arrowright.svg
static/admin/img/gis/move_vertex_off.svg
static/admin/img/gis/move_vertex_on.svg
static/admin/js/actions.js
static/admin/js/autocomplete.js
static/admin/js/calendar.js
static/admin/js/cancel.js
static/admin/js/change_form.js
static/admin/js/collapse.js
static/admin/js/core.js
static/admin/js/inlines.js
static/admin/js/jquery.init.js
static/admin/js/nav_sidebar.js
static/admin/js/popup_response.js
static/admin/js/prepopulate_init.js
static/admin/js/prepopulate.js
static/admin/js/SelectBox.js
static/admin/js/SelectFilter2.js
static/admin/js/urlify.js
static/admin/js/admin/DateTimeShortcuts.js
static/admin/js/admin/RelatedObjectLookups.js
static/admin/js/vendor/jquery/jquery.js
static/admin/js/vendor/jquery/jquery.min.js
static/admin/js/vendor/jquery/LICENSE.txt
static/admin/js/vendor/select2/LICENSE.md
static/admin/js/vendor/select2/select2.full.js
static/admin/js/vendor/select2/select2.full.min.js
static/admin/js/vendor/select2/i18n/af.js
static/admin/js/vendor/select2/i18n/ar.js
static/admin/js/vendor/select2/i18n/az.js
static/admin/js/vendor/select2/i18n/bg.js
static/admin/js/vendor/select2/i18n/bn.js
static/admin/js/vendor/select2/i18n/bs.js
static/admin/js/vendor/select2/i18n/ca.js
static/admin/js/vendor/select2/i18n/cs.js
static/admin/js/vendor/select2/i18n/da.js
static/admin/js/vendor/select2/i18n/de.js
static/admin/js/vendor/select2/i18n/dsb.js
static/admin/js/vendor/select2/i18n/el.js
static/admin/js/vendor/select2/i18n/en.js
static/admin/js/vendor/select2/i18n/es.js
static/admin/js/vendor/select2/i18n/et.js
static/admin/js/vendor/select2/i18n/eu.js
static/admin/js/vendor/select2/i18n/fa.js
static/admin/js/vendor/select2/i18n/fi.js
static/admin/js/vendor/select2/i18n/fr.js
static/admin/js/vendor/select2/i18n/gl.js
static/admin/js/vendor/select2/i18n/he.js
static/admin/js/vendor/select2/i18n/hi.js
static/admin/js/vendor/select2/i18n/hr.js
static/admin/js/vendor/select2/i18n/hsb.js
static/admin/js/vendor/select2/i18n/hu.js
static/admin/js/vendor/select2/i18n/hy.js
static/admin/js/vendor/select2/i18n/id.js
static/admin/js/vendor/select2/i18n/is.js
static/admin/js/vendor/select2/i18n/it.js
static/admin/js/vendor/select2/i18n/ja.js
static/admin/js/vendor/select2/i18n/ka.js
static/admin/js/vendor/select2/i18n/km.js
static/admin/js/vendor/select2/i18n/ko.js
static/admin/js/vendor/select2/i18n/lt.js
static/admin/js/vendor/select2/i18n/lv.js
static/admin/js/vendor/select2/i18n/mk.js
static/admin/js/vendor/select2/i18n/ms.js
static/admin/js/vendor/select2/i18n/nb.js
static/admin/js/vendor/select2/i18n/ne.js
static/admin/js/vendor/select2/i18n/nl.js
static/admin/js/vendor/select2/i18n/pl.js
static/admin/js/vendor/select2/i18n/ps.js
static/admin/js/vendor/select2/i18n/pt-BR.js
static/admin/js/vendor/select2/i18n/pt.js
static/admin/js/vendor/select2/i18n/ro.js
static/admin/js/vendor/select2/i18n/ru.js
static/admin/js/vendor/select2/i18n/sk.js
static/admin/js/vendor/select2/i18n/sl.js
static/admin/js/vendor/select2/i18n/sq.js
static/admin/js/vendor/select2/i18n/sr-Cyrl.js
static/admin/js/vendor/select2/i18n/sr.js
static/admin/js/vendor/select2/i18n/sv.js
static/admin/js/vendor/select2/i18n/th.js
static/admin/js/vendor/select2/i18n/tk.js
static/admin/js/vendor/select2/i18n/tr.js
static/admin/js/vendor/select2/i18n/uk.js
static/admin/js/vendor/select2/i18n/vi.js
static/admin/js/vendor/select2/i18n/zh-CN.js
static/admin/js/vendor/select2/i18n/zh-TW.js
static/admin/js/vendor/xregexp/LICENSE.txt
static/admin/js/vendor/xregexp/xregexp.js
static/admin/js/vendor/xregexp/xregexp.min.js
static/admin/plugins/bootstrap/js/bootstrap.bundle.js
static/admin/plugins/bootstrap/js/bootstrap.bundle.js.map
static/admin/plugins/bootstrap/js/bootstrap.bundle.min.js
static/admin/plugins/bootstrap/js/bootstrap.bundle.min.js.map
static/admin/plugins/bootstrap/js/bootstrap.js
static/admin/plugins/bootstrap/js/bootstrap.js.map
static/admin/plugins/bootstrap/js/bootstrap.min.js
static/admin/plugins/bootstrap/js/bootstrap.min.js.map
static/admin/plugins/fontawesome-free/css/all.css
static/admin/plugins/fontawesome-free/css/all.min.css
static/admin/plugins/fontawesome-free/css/brands.css
static/admin/plugins/fontawesome-free/css/brands.min.css
static/admin/plugins/fontawesome-free/css/fontawesome.css
static/admin/plugins/fontawesome-free/css/fontawesome.min.css
static/admin/plugins/fontawesome-free/css/regular.css
static/admin/plugins/fontawesome-free/css/regular.min.css
static/admin/plugins/fontawesome-free/css/solid.css
static/admin/plugins/fontawesome-free/css/solid.min.css
static/admin/plugins/fontawesome-free/css/svg-with-js.css
static/admin/plugins/fontawesome-free/css/svg-with-js.min.css
static/admin/plugins/fontawesome-free/css/v4-shims.css
static/admin/plugins/fontawesome-free/css/v4-shims.min.css
static/admin/plugins/fontawesome-free/webfonts/fa-brands-400.eot
static/admin/plugins/fontawesome-free/webfonts/fa-brands-400.svg
static/admin/plugins/fontawesome-free/webfonts/fa-brands-400.ttf
static/admin/plugins/fontawesome-free/webfonts/fa-brands-400.woff
static/admin/plugins/fontawesome-free/webfonts/fa-brands-400.woff2
static/admin/plugins/fontawesome-free/webfonts/fa-regular-400.eot
static/admin/plugins/fontawesome-free/webfonts/fa-regular-400.svg
static/admin/plugins/fontawesome-free/webfonts/fa-regular-400.ttf
static/admin/plugins/fontawesome-free/webfonts/fa-regular-400.woff
static/admin/plugins/fontawesome-free/webfonts/fa-regular-400.woff2
static/admin/plugins/fontawesome-free/webfonts/fa-solid-900.eot
static/admin/plugins/fontawesome-free/webfonts/fa-solid-900.svg
static/admin/plugins/fontawesome-free/webfonts/fa-solid-900.ttf
static/admin/plugins/fontawesome-free/webfonts/fa-solid-900.woff
static/admin/plugins/fontawesome-free/webfonts/fa-solid-900.woff2
static/admin/plugins/jquery/jquery.js
static/admin/plugins/jquery/jquery.min.js
static/admin/plugins/jquery/jquery.min.map
static/admin/plugins/jquery/jquery.slim.js
static/admin/plugins/jquery/jquery.slim.min.js
static/admin/plugins/jquery/jquery.slim.min.map
static/css/blog.css
static/css/bootstrap.min.css
static/css/boxicons.min.css
static/css/contact.css
static/css/custom-stitching.css
static/css/faqs.css
static/css/gallery.css
static/css/garment.css
static/css/header.css
static/css/my-account.css
static/css/service.css
static/css/social.css
static/css/story.css
# static/css/style.css
static/css/work.css
static/custom-js/book-now.js
static/custom-js/sign-up.js
static/custom-js/validations.js
static/dist/css/adminlte.css
static/dist/css/adminlte.css.map
static/dist/css/adminlte.min.css
static/dist/css/adminlte.min.css.map
static/dist/css/alt/adminlte.components.css
static/dist/css/alt/adminlte.components.css.map
static/dist/css/alt/adminlte.components.min.css
static/dist/css/alt/adminlte.components.min.css.map
static/dist/css/alt/adminlte.core.css
static/dist/css/alt/adminlte.core.css.map
static/dist/css/alt/adminlte.core.min.css
static/dist/css/alt/adminlte.core.min.css.map
static/dist/css/alt/adminlte.extra-components.css
static/dist/css/alt/adminlte.extra-components.css.map
static/dist/css/alt/adminlte.extra-components.min.css
static/dist/css/alt/adminlte.extra-components.min.css.map
static/dist/css/alt/adminlte.light.css
static/dist/css/alt/adminlte.light.css.map
static/dist/css/alt/adminlte.light.min.css
static/dist/css/alt/adminlte.light.min.css.map
static/dist/css/alt/adminlte.pages.css
static/dist/css/alt/adminlte.pages.css.map
static/dist/css/alt/adminlte.pages.min.css
static/dist/css/alt/adminlte.pages.min.css.map
static/dist/css/alt/adminlte.plugins.css
static/dist/css/alt/adminlte.plugins.css.map
static/dist/css/alt/adminlte.plugins.min.css
static/dist/css/alt/adminlte.plugins.min.css.map
static/dist/img/AdminLTELogo.png
static/dist/img/avatar.png
static/dist/img/avatar2.png
static/dist/img/avatar3.png
static/dist/img/avatar4.png
static/dist/img/avatar5.png
static/dist/img/boxed-bg.jpg
static/dist/img/boxed-bg.png
static/dist/img/default-150x150.png
static/dist/img/icons.png
static/dist/img/photo1.png
static/dist/img/photo2.png
static/dist/img/photo3.jpg
static/dist/img/photo4.jpg
static/dist/img/prod-1.jpg
static/dist/img/prod-2.jpg
static/dist/img/prod-3.jpg
static/dist/img/prod-4.jpg
static/dist/img/prod-5.jpg
static/dist/img/user1-128x128.jpg
static/dist/img/user2-160x160.jpg
static/dist/img/user3-128x128.jpg
static/dist/img/user4-128x128.jpg
static/dist/img/user5-128x128.jpg
static/dist/img/user6-128x128.jpg
static/dist/img/user7-128x128.jpg
static/dist/img/user8-128x128.jpg
static/dist/img/credit/american-express.png
static/dist/img/credit/cirrus.png
static/dist/img/credit/mastercard.png
static/dist/img/credit/paypal.png
static/dist/img/credit/paypal2.png
static/dist/img/credit/visa.png
static/dist/js/adminlte.js
static/dist/js/adminlte.js.map
static/dist/js/adminlte.min.js
static/dist/js/adminlte.min.js.map
static/dist/js/demo.js
static/dist/js/pages/dashboard.js
static/dist/js/pages/dashboard2.js
static/dist/js/pages/dashboard3.js
static/fonts/boxicons.eot
static/fonts/boxicons.svg
static/fonts/boxicons.ttf
static/fonts/boxicons.woff
static/fonts/boxicons.woff2
static/img/ajax-loader.gif
static/img/blog.png
static/img/blog1.png
static/img/blog2.png
static/img/blog3.png
static/img/blog4.png
static/img/blog5.png
static/img/blog6.png
static/img/blog7.png
static/img/blog8.png
static/img/book-now-bg.jpg
static/img/cancel.png
static/img/care1.png
static/img/care2.png
static/img/care3.png
static/img/care4.png
static/img/care5.png
static/img/category1.png
static/img/category2.png
static/img/category3.png
static/img/category4.png
static/img/category5.png
static/img/category6.png
static/img/check-circle.png
static/img/colon.png
static/img/contact.png
static/img/custom-stitching-bg.jpg
static/img/dotted.png
static/img/edit.png
static/img/Ellipse.png
static/img/facebook.png
static/img/faq-bg.jpg
static/img/faqs.png
static/img/fcom.png
static/img/file-plus.png
static/img/gallery.png
static/img/garmentcare.png
static/img/hero1.png
static/img/hero2.png
static/img/hero3.png
static/img/hero4.png
static/img/home.png
static/img/insta1.png
static/img/insta2.png
static/img/Line.png
static/img/location.png
static/img/login-bg.png
static/img/mainlogo.png
static/img/my-account-bg.jpg
static/img/One.png
static/img/ourstory.png
static/img/partner.png
static/img/photo.png
static/img/photo.svg
static/img/photo1.png
static/img/photo2.png
static/img/photo3.png
static/img/photo4.png
static/img/Photograph.svg
static/img/policies.png
static/img/service.png
static/img/snapshots.png
static/img/social.png
static/img/social1.png
static/img/social2.png
static/img/social3.png
static/img/social4.png
static/img/social5.png
static/img/social6.png
static/img/social7.png
static/img/story-bg.jpg
static/img/truck.png
static/img/wall.png
static/img/wall1.png
static/img/watsapp.png
static/img/women.png
static/img/women.svg
static/img/women1.png
static/img/women2.png
static/img/women3.png
static/img/women4.png
static/img/women5.png
static/img/women6.png
static/img/women7.png
static/img/work-bg.jpg
static/img/work.png
static/img/youtube1.png
static/img/youtube2.png
static/img/family-member/1.png
static/img/family-member/2.png
static/img/family-member/3.png
static/img/items/item1.png
static/img/payment/amazon-pay.png
static/img/payment/easy-pay.png
static/img/payment/gpay.png
static/img/payment/jio-money.png
static/img/payment/paytm.png
static/img/payment/phone-pay.png
static/img/services/services1.png
static/img/services/services2.png
static/img/services/services3.png
static/img/services/services4.png
static/img/services/services5.png
static/js/authentication.js
static/js/bootstrap.bundle.min.js
static/js/bootstrap.min.js
static/js/bootstrap.min.js.map
static/js/custom-stitching.js
static/js/items-cart.js
static/js/jquery.min.js
static/js/pagination.js
static/js/pagination.min.js
static/js/popper.min.js
static/plugins/bootstrap/js/bootstrap.bundle.js
static/plugins/bootstrap/js/bootstrap.bundle.js.map
static/plugins/bootstrap/js/bootstrap.bundle.min.js
static/plugins/bootstrap/js/bootstrap.bundle.min.js.map
static/plugins/bootstrap/js/bootstrap.js
static/plugins/bootstrap/js/bootstrap.js.map
static/plugins/bootstrap/js/bootstrap.min.js
static/plugins/bootstrap/js/bootstrap.min.js.map
static/plugins/fontawesome-free/css/all.css
static/plugins/fontawesome-free/css/all.min.css
static/plugins/fontawesome-free/css/brands.css
static/plugins/fontawesome-free/css/brands.min.css
static/plugins/fontawesome-free/css/fontawesome.css
static/plugins/fontawesome-free/css/fontawesome.min.css
static/plugins/fontawesome-free/css/regular.css
static/plugins/fontawesome-free/css/regular.min.css
static/plugins/fontawesome-free/css/solid.css
static/plugins/fontawesome-free/css/solid.min.css
static/plugins/fontawesome-free/css/svg-with-js.css
static/plugins/fontawesome-free/css/svg-with-js.min.css
static/plugins/fontawesome-free/css/v4-shims.css
static/plugins/fontawesome-free/css/v4-shims.min.css
static/plugins/fontawesome-free/webfonts/fa-brands-400.eot
static/plugins/fontawesome-free/webfonts/fa-brands-400.svg
static/plugins/fontawesome-free/webfonts/fa-brands-400.ttf
static/plugins/fontawesome-free/webfonts/fa-brands-400.woff
static/plugins/fontawesome-free/webfonts/fa-brands-400.woff2
static/plugins/fontawesome-free/webfonts/fa-regular-400.eot
static/plugins/fontawesome-free/webfonts/fa-regular-400.svg
static/plugins/fontawesome-free/webfonts/fa-regular-400.ttf
static/plugins/fontawesome-free/webfonts/fa-regular-400.woff
static/plugins/fontawesome-free/webfonts/fa-regular-400.woff2
static/plugins/fontawesome-free/webfonts/fa-solid-900.eot
static/plugins/fontawesome-free/webfonts/fa-solid-900.svg
static/plugins/fontawesome-free/webfonts/fa-solid-900.ttf
static/plugins/fontawesome-free/webfonts/fa-solid-900.woff
static/plugins/fontawesome-free/webfonts/fa-solid-900.woff2
static/plugins/jquery/jquery.js
static/plugins/jquery/jquery.min.js
static/plugins/jquery/jquery.min.map
static/plugins/jquery/jquery.slim.js
static/plugins/jquery/jquery.slim.min.js
static/plugins/jquery/jquery.slim.min.map
static/rest_framework/css/bootstrap-theme.min.css
static/rest_framework/css/bootstrap-tweaks.css
static/rest_framework/css/bootstrap.min.css
static/rest_framework/css/default.css
static/rest_framework/css/font-awesome-4.0.3.css
static/rest_framework/css/prettify.css
static/rest_framework/docs/css/base.css
static/rest_framework/docs/css/highlight.css
static/rest_framework/docs/css/jquery.json-view.min.css
static/rest_framework/docs/img/favicon.ico
static/rest_framework/docs/img/grid.png
static/rest_framework/docs/js/api.js
static/rest_framework/docs/js/highlight.pack.js
static/rest_framework/docs/js/jquery.json-view.min.js
static/rest_framework/fonts/fontawesome-webfont.eot
static/rest_framework/fonts/fontawesome-webfont.svg
static/rest_framework/fonts/fontawesome-webfont.ttf
static/rest_framework/fonts/fontawesome-webfont.woff
static/rest_framework/fonts/glyphicons-halflings-regular.eot
static/rest_framework/fonts/glyphicons-halflings-regular.svg
static/rest_framework/fonts/glyphicons-halflings-regular.ttf
static/rest_framework/fonts/glyphicons-halflings-regular.woff
static/rest_framework/fonts/glyphicons-halflings-regular.woff2
static/rest_framework/img/glyphicons-halflings-white.png
static/rest_framework/img/glyphicons-halflings.png
static/rest_framework/img/grid.png
static/rest_framework/js/ajax-form.js
static/rest_framework/js/bootstrap.min.js
static/rest_framework/js/coreapi-0.1.1.js
static/rest_framework/js/csrf.js
static/rest_framework/js/default.js
static/rest_framework/js/jquery-3.5.1.min.js
static/rest_framework/js/prettify-min.js
static/services/render-items.js
static/services/side-nav.js
static/validators/mobile-number-check.js
static/validators/pincode.js
fcom/.env
db.sqlite3
logs/development.log
logs/production.log
logs/development.log
data/meta_data.json
media/items/1_2kIlFsx.jpg
media/items/1_G6kTeLI.jpg
media/items/1_lFYbD5X.jpg
media/items/1_x4mCvSK.jpg
media/items/F28-1_uW88rI4.jpg
media/items/F28-1.jpg
media/items/item1_faLUGTr.png
media/items/item1.png
media/items/ssr-slider-4.jpg
media/
# static/
.env
