cloudinary==1.32.0
daphne==4.0.0
Django==4.0.5
django-cloudinary-storage==0.3.0
django-cors-headers==3.13.0
django-environ==0.9.0
django-mysql==4.8.0
django-session-timeout==0.1.0
djangorestframework==3.13.1
gunicorn==20.1.0
pymemcache==4.0.0
python-dotenv==0.20.0
mysqlclient
