{% extends "admin/base_template.html" %} {% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="">Request Callbacks</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered  table-hover" id="table">
                            <thead>
                                <tr>
                                    <th>SL No</th>
                                    <th>Mobile Number</th>
                                    <th>Note</th>
                                    <th>Request On</th>
                                    <!-- <th>Updated On</th> -->
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in booked_call_backs %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.mobile_no }}</td>
                                    <td>{{ item.note }}</td>
                                    <td>{{ item.created_at }} </td>
                                    <!-- <td>{{ item.updated_at }}</td> -->
                                    {% comment %} <td>{{ item.status }}</td> {% endcomment %}
                                    <td>
                                        <a href="{% url 'callback_update' item.id %}" class="fa fa-edit"></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <!-- <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing
                                    1 to 10 of 30 entries</div>
                            </div> -->
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                    {% if booked_call_backs.has_other_pages %}
                                    <ul class="pagination">
                                        {% if booked_call_backs.has_previous %}
                                        <li class="paginate_button page-item previous disabled" id="example1_previous">
                                            <a href="?page={{ booked_call_backs.previous_page_number }}" aria-controls="example1" data-dt-idx="0" tabindex="0"
                                                class="page-link">Previous</a></li>
                                        {% else %}
                                        {% endif %}
                                        {% for i in booked_call_backs.paginator.page_range %}
                                            {% if booked_call_backs.number == i %}

                                                <li class="paginate_button page-item active"><a href="#"
                                                        aria-controls="example1" data-dt-idx="1" tabindex="0"
                                                        class="page-link">{{ i }}</a></li>
                                            {% else %}

                                                <li class="paginate_button page-item "><a href="?page={{ i }}" aria-controls="example1"
                                                    data-dt-idx="2" tabindex="0" class="page-link">{{ i }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if booked_call_backs.has_next %}
                                            
                                        <li class="paginate_button page-item next" id="example1_next"><a href="?page={{ booked_call_backs.next_page_number }}"
                                                aria-controls="example1" data-dt-idx="4" tabindex="0"
                                                class="page-link">Next</a></li>
                                        {% endif %}
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}