
<!-- Order Is Assigned -->
<!-- {% if order.status == booking_stage.ORDER_ASSINGED %}
<button type="button" style="margin: 5px;" data-toggle="modal" data-target="#update-date"
    class="btn btn-success float-right">
    Update Date
</button>
{% endif %} -->
<!--end-->

<!-- {% if order.status == booking_stage.ORDER_PICKEDUP %}
<button type="button" style="margin: 5px;" data-toggle="modal" data-target="#add-extra-fabric"
    class="btn btn-success float-right">
    Add Extra Fabric
</button>
{% endif %} -->


<!-- Order Is Assigned -->
<!-- {% if order.status == booking_stage.APPROVAL_ACCEPTED or order.status == booking_stage.ORDER_PICKEDUP %}
<button type="button" style="margin: 5px;" data-toggle="modal" data-target="#update-date"
    class="btn btn-success float-right">
    Update Date
</button>
{% endif %} -->
<!--end-->

<!-- {% if order.status == booking_stage.ORDER_IN_PROGRESS %}
<button type="button" style="margin: 5px;" data-toggle="modal" data-target="#confirn-delivery"
    class="btn btn-success float-right">
    Confirm Delivery
</button>
{% endif %} -->


