<li class="nav-item">
    <a href="#" class="nav-link">
        <p>
            Preferences
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url 'add_preferences' 'service' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Service Mode</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'add_preferences' 'preference' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Designer Preference</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'estimated_consultation_date' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Estimation Date</p>
            </a>
        </li>
    </ul>
</li>