
<li class="nav-item">
    <a href="#" class="nav-link">
        <p>
            Report
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url 'customer_report' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Customer</p>
            </a>
        </li>
   
        <li class="nav-item">
            <a href="#" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>
            Order
            <i class="right fas fa-angle-left"></i>
            </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
                <li class="nav-item">
                    <a href="{% url 'order_report' %}" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>Order Details</p>
                    </a>
                </li>
                                             
            <li class="nav-item">
                <a href="{% url 'amount_collected' %}" class="nav-link">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>Sales report</p>
                </a>
            </li>
       
           
            </ul>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                Designer
                <i class="right fas fa-angle-left"></i>
                </p>
                </a>
                <ul class="nav nav-treeview" style="display: none;">
                    <li class="nav-item">
                        <a href="{% url 'designer_sales' %}" class="nav-link">
                            <i class="far fa-dot-circle nav-icon"></i>
                            <p>Designer Sales</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'designer_performance' %}" class="nav-link">
                            <i class="far fa-dot-circle nav-icon"></i>
                            <p>Designer Performance</p>
                        </a>
                    </li>

                  
                                                 
                <li class="nav-item">
                    <a href="{% url 'designer_reviews' %}" class="nav-link">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>Designer Reviews</p>
                    </a>
                </li>
               
               
                </ul>
                </li>
             
     
      
      
            <li class="nav-item">
                <a href="{% url 'top_sales' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Top Sales</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'order_movement_report' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Order Movement</p>
                </a>
            </li>
    </ul>
</li>