<li class="nav-item">
    <a href="#" class="nav-link">
        <p>
            SEO
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url 'create_seo' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add SEO</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'list_seo' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>View SEO</p>
            </a>
        </li>
    </ul>
</li>