<div class="dashed-line-breaker"></div>
<div class="scrollable-item">
  {% if user.is_password_set %}
  <h3 class="form-heading" id="changesPassword">Change Password</h3>
  {% else %}
  <h3 class="form-heading" id="changesPassword">Set Password</h3>
  {% endif  %}
  <div class="row form-group">
    <div class="col-md-6">
      <label for="password">Password</label>
      <input {% if user.is_password_set %} disabled="true" {% endif %} class="form-control" type="password" placeholder="****" />
      <p class="field-text">Last changed on: <span id="changeDate">15 May, 2022</span></p>
    </div>
  </div>
  <!-- <div class="row form-group">
    <div class="col-md-6">
      <button type="button" class="link-btn form-line" name="button" data-bs-target="#changePasswordModal"
        data-bs-toggle="modal" data-value="password">Change</button>
    </div>
  </div> -->
</div>