<div class="dashed-line-breaker"></div>
<div class="scrollable-item">
  <h3 class="form-heading" id="preferences">Preference</h3>
  <div class="row form-group">
    <div class="col-md-6">
      <label for="language">Language</label>
      <select name="language" class="form-control" value="">
        <option value="">Select</option>
      </select>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-6">
      <label for="designerType">Choose Designer Type</label>
      <select name="designerType" class="form-control" value="">
        <option value="">Select</option>
      </select>
      <p class="field-text">You can choose either male or female designers who should visit your location
        for consultation </p>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-6">
      <a href="" class="link-btn" data-value="designerType_language">Save</a>
    </div>
  </div>
</div>