<div class="dashed-line-breaker"></div>
<div class="scrollable-item">
  <h3 class="form-heading" id="referrals">Referrals</h3>
  <div class="row form-group">
    <div class="col-md-6">
      <label for="email">Email</label>
      <input type="text" name="email" class="form-control" value="" />
      <p class="field-text">Enter email id of the person you would like to invite to FCOM</p>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-6">
      <a href="" class="link-btn" data-value="email">Invite</a>
    </div>
  </div>
</div>
<div class="dashed-line-breaker"></div>
<div class="scrollable-item">
  <h3 class="form-heading" id="coupons">Coupons</h3>
  <div class="row form-group">
    <div class="col-md-6">
      <label for="designerType">Enter Coupon Code</label>
      <input type="text" name="coupon" class="form-control" value="" />
      <div id="couponCode">
        <span class="badge badge-light coupon-code">TREND25 <button type="button" class="btn cancelCoupon"
            name="button"><img src="static/img/cancel.png" alt="close"></button></span>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-6">
      <a href="" class="link-btn" data-value="coupon">Save</a>
    </div>
  </div>
</div>


</div>