<div class="col-md-3">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#my_profile"
          type="button" role="tab" aria-controls="women" aria-selected="true">My Profile</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#familyMembers" type="button"
          role="tab" aria-controls="men" aria-selected="false">Family Members</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#addressBook" type="button"
          role="tab" aria-controls="kids" aria-selected="false">Address Book</button>
      </li>
      <!-- <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#payments" type="button"
          role="tab" aria-controls="general" aria-selected="false">Payments</button>
      </li> -->
      <!-- <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#preferences" type="button"
          role="tab" aria-controls="general" aria-selected="false">Preferences</button>
      </li> -->
      <!-- <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#changesPassword"
          type="button" role="tab" aria-controls="general" aria-selected="false">Change Password</button>
      </li> -->
      <!-- <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#referrals" type="button"
          role="tab" aria-controls="general" aria-selected="false">Referrals</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#coupons" type="button"
          role="tab" aria-controls="general" aria-selected="false">Coupons</button>
      </li> -->
    </ul>
  </div>