<div class="row setup-content" id="step-3">
    
    <div id="rootcard">
        <div id="card">         
        </div>
    </div>
</div>

<div class="col-md-12" id="orderStatus" style="display: none;">
  <div class="tab-content booking-details">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="row setup-content m-0 show" id="step-1">
        <div class="customTabContent">
          <h2 class="itemssearch-heading">
            <div class="row full-width">
              <div class="col-md-3">
                <label for="">ID</label>
                <div class="itemstop-title" id="orderIdCreated"></div>
              </div>
              <div class="col-md-3">
                <label for="">Booking Type</label>
                <div class="itemstop-title" id="consultation">Consultation</div>
              </div>
              <div class="col-md-3">
                <label for="">Date</label>
                <div class="itemstop-title" id="orderDate"></div>
              </div>
              <div class="col-md-3">
                <label for="">Service Type</label>
                <div class="itemstop-title" id="serviceType">Custom Stitching</div>
              </div>
            </div>
          </h2>
          <div class="row-data active" data-tag="girls,restyling,regular,withLining">
            <div class="row">
              <div class="col-md-12">
                <div class="booking-view">
                  <div class="selected-image">
                    <!-- <img src="/static/img/items/item1.png" alt="Items">
                    <img src="/static/img/items/item1.png" alt="Items">
                    <img src="/static/img/items/item1.png" alt="Items"> -->
                  </div>
                  <button type="button" class="btn btn25" name="cancelOrderBtn">Cancel Booking</button>
                </div>
              </div>
            </div>

          </div>
          <div class="items-grid-footer">
            <div class="row full-width">
              <div class="col-md-2">
                <label for="">Status</label>
                <div class="itemstop-title highlighted-text" id="order-Status">In-progress</div>
              </div>
              <div class="col-md-2">
                <label for="">Designer Assigned</label>
                <div class="itemstop-title">
                  <div class="field-loader"><span></span><span></span><span></span></div>
                </div>
              </div>
              <div class="col-md-2">
                <label for="">Consultation Date</label>
                <div class="itemstop-title">
                  <div class="field-loader"><span></span><span></span><span></span></div>
                </div>
              </div>
              <div class="col-md-2">
                <label for="">Estimated Total</label>
                <div class="itemstop-title">₹ <span id="estimated-total-order"></span></div>
              </div>
              <div class="col-md-2">
                <label for="">Advance Amount</label>
                <div class="itemstop-title">₹ <span id="advancedAmount-order"></span> </div>
              </div>
              <!-- <div class="col-md-2">
                <label for="">Download</label>
                <a href="/file" class="itemstop-title highlighted-text" id="download" download>Estimation
              </div> -->
            </div>
          </div>
        </div>
        <div class="sticky-cart-footer">
          <div class="row">
            <div class="col-md-6">
              <div class="sticky-cart-total">
                <div class="items-cart">
                  <h4>Items in Cart</h4>
                  <p id="total-item">0</p>
                </div>
                <div class="items-cart">
                  <h4>Estimated Total</h4>
                  <p>&#x20B9; <span id="estimated-total-item">0</span></p>
                </div>
                <div class="items-cart">
                  <h4>Advance Payable</h4>
                  <p id="estimated-total-item">&#x20B9; 500</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 text-right btn-flex">
              <button type="button" class="btn btn25" name="button">Cancel</button>
              <button type="button" class="btn btn7 nextBtn" id="continue_book" name="button">Continue</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>