{% load static %}

<div class="modal fade" id="approveEstimationBookingModal" tabindex="-1" aria-labelledby="approveEstimationBookingModal" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Approve Estimation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&#9587;</button>
            </div>
                        
            <div class="modal-body">     
                <div>
                    <p style="font-size: 18px;">Please confirm by clicking <b>'YES'</b> button. Clicking on <b>'NO'</b> button will hold your order.</p>
                </div>       
                <div class="btn-footer btn-flex">
                    <!-- <button type="button" class="btn btn7 yes-btn" data-bs-dismiss="modal" aria-label="Close"
                        name="button">No</button> -->
                        <button type="button" onclick="rejectOrderCustomer({{ order_detail.id }})" class="btn btn7 yes-btn" name="button">No</button>
                    <button type="button" onclick="apporveOrderCustomer({{ order_detail.id }})" class="btn btn7 yes-btn" name="button">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>